@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<p>Intervention from Alice</p>


<p>Intervention from Alice 003</p>


<p>Intervention from Alice 005</p>

<p>Intervention from Alice 007</p>