@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>



<p>Hotfix v1.0.0 - 002 - release</p>





<p>Hotfix v1.1.0 - 001 - master</p>